<?xml version="1.0" encoding="utf-8" ?>
<unity  xmlns="http://schemas.microsoft.com/practices/2010/unity" >
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />

  <container name="Default">
    <register name="Student1" type="LocatorMode.IBoyStudent,LocatorMode" mapTo="LocatorMode.BoyStudent,LocatorMode"></register>
    <register  name="Student2" type="LocatorMode.IBoyStudent,LocatorMode" mapTo="LocatorMode.BoyStudent2,LocatorMode"></register>
    <register  type="LocatorMode.IStudent,LocatorMode" mapTo="LocatorMode.Student,LocatorMode">
      <lifetime type="singleton"/>
      <!--<constructor>
        <param name="_boys">
          <array>
            <dependency name="Student1" />
            <dependency name="Student2" />
          </array>
        </param>
      </constructor>-->
    </register>
  </container>


</unity>
