
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Js/jquery-3.3.1.js"></script>
    <script src="~/Js/vue.js"></script>
    <script src="~/Js/layui.all.js"></script>
    <link href="~/Css/layui.css" rel="stylesheet" />


</head>
<body>

    <div id="app">
        <div>
            @*请求的参数*@
            <form class="layui-form" onsubmit="return false">
                <div class="layui-form-item">
                    <label class="layui-form-label">请求的方法名:</label>
                    <div class="layui-inline">
                        <select id="ddlName">
                            <option v-bind:value="item.Url" v-for="item in ddllistData">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">请求参数</label>
                    <div class="layui-input-block">
                        <textarea id="txtJson" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-input-block">
                    <button class="layui-btn" id="btnRequest" v-on:click="Monitor()" lay-submit lay-filter="formRequest">请求</button>
                    <button class="layui-btn" id="btnResponse" v-on:click="GetMonitorLog()" lay-submit lay-filter="formResponse">获取结果</button>
                </div>
            </form>

        </div>
        <div>
            @*找一个Table框架*@
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>步骤</th>
                        <th>执行结果</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in listData">
                        <td>{{index+1}}</td>
                        <td>{{item}}</td>
                    </tr>

                </tbody>
            </table>

            <div id="pageInfo"></div>
        </div>
    </div>


    <script>
        var pageModel = {
            //用于同一次请求的唯一标识
            random: "",
            listData: ["T1", "T2", "T3", "T4", "T5"],
            ddlSelect: "",
            ddllistData: [{ Name: "下单", Url: "http://localhost:8082/api/AddOrder" }, { Name: "下单2", Url: "http://localhost:8082/api/AddOrder2" }],   
          
        }
        var appNew = new Vue({
            el: '#app',
            data: pageModel,
            mounted: function () {
                this.random = this.GetRandom();
            },
            methods: {
                Monitor: function () {
                    $.ajax({
                        url: '/Tools/Monitor',
                        type: 'post',
                        data:
                        {
                            url: "http://localhost:8082/api/AddOrder",
                            json: $("#txtJson").val(),
                            random: this.random
                        },
                        success: function (data) {
                            alert(data);
                        }
                    });
                },
                GetMonitorLog: function () {
                    $.ajax({
                        url: '/Tools/GetMonitorLog',
                        type: 'post',
                        data:
                        {
                            random: this.random
                        },
                        success: function (data) {
                            pageModel.listData = JSON.parse(data);
                        }
                    });
                },
                //获取请求的随机数 用以区别每次请求
                GetRandom: function () {
                    var date = this.GetNowFormatDate();
                    var random = parseInt(Math.random() * 1000);
                    var res = date + random;
                    return res;
                },
                GetNowFormatDate: function () {
                    var date = new Date();
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var strDate = date.getDate();
                    if (month >= 1 && month <= 9) {
                        month = "0" + month;
                    }
                    if (strDate >= 0 && strDate <= 9) {
                        strDate = "0" + strDate;
                    }
                    var currentdate = year + month + + strDate;
                    return currentdate;
                },
            }
        })

    </script>
    
    @*layui初始化*@
    <script src="~/Js/layInit.js"></script>
</body>
</html>
