<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GitPath" value="D:\Common\;MyLove;D:\MyLoove\;D:\Mirror\;D:\Mirror2\;D:\Tools\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
